@media only screen and (min-width:600px) {
 .fixed {
    width: 75%;
    margin: 0 auto;
    padding-left: 5%;
}
.contact form .input-box{
    display: grid;
    grid-template-columns: auto auto;
}
.contact form .input-box input{
    width: 85%;
    margin: 1rem 0;
}
.contact form textarea{
    width: 65%;
}


}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width:768px) {
    /* nav section here  */
    #menu-icon {
        display: none;
    }

    .hidden {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul { 
        position: absolute;
        top: 1.6rem;
        right: .1rem;
    }

    nav li{
        display: inline;
        margin: 1rem 0;
    }

    .nav-link{
        font-size: 1.3rem;
    }

    /* nav section end here  */

    #Home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding: 50px;
    gap: 60px;
    }
    .home-content{
    order: 0;
    }
    .hom-img{
    order: 1;
    }
    .about-content p{
        text-align: center;
    }

    /* skill section start */
    .technical-skill , .professional-skill{
        padding: 3.4rem;
        transition: .3s;
    }



/* service section start here  */

    .cards {
        display: grid;
        grid-template-columns: auto auto auto;
    }

    /* service section end here  */


     /* contact sention start  */
    
        
      /* footer section start  */
  
    .footer-icon{
        float: right;
    }
    .foot{
        float: left;
        padding: 2rem;
    }
    .footer-sec::after{
        content: '';
        display: table;
        clear: both;
    }

} 


   
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .about-p{
        width: 60%;
        margin: 0 auto;
    }
    /* skill section start */
    .skill-container{
        display: flex;
        justify-content: space-between;
        
    }
    .services-container .services-box{
        flex:1 1 30rem ;
    }
    /* contact section start  */
    .fixed {
        width: 65%;
        margin: 0 auto;
        /* padding-left: 7%; */
    }
    .contact form .input-box input{
        width: 82%;
        margin: 1rem 0;
    }
    .contact form textarea{
        width: 55%;
    }

    /* service section start here  */

    .cards {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

    /* service section end here  */
    

    /* footer section start  */
   

   
}